---
const { type, colorClass, ischecked } = Astro.props;
---

<label for={type} class={`color-radio ${colorClass}`}>
  <input type="radio" id={type} name="color" value={type} checked={ischecked} />
  <span class="visually-hidden">{type} COLOR</span>
</label>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .color-radio {
    position: relative;
    font-size: $font-size-600;
    padding: 0 0.9375em;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "\2713";
      font-weight: $font-weight-default;
      color: $color-neutral-900;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    &:has(input[type="radio"]:checked)::after {
      opacity: 1;
      visibility: visible;
    }

    &:has(input[type="radio"]:is(:hover, :focus-visible)) {
      outline: 2px solid $color-neutral-200;
      outline-offset: 5px;
    }
  }

  input[type="radio"] {
    position: absolute;
    width: 110%;
    height: 110%;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
  }
</style>
