---
import TimeInput from "./TimeInput.astro";
import Button from "./Button.astro";
import FontFamilyRadio from "./FontFamilyRadio.astro";
import ColorRadio from "./ColorRadio.astro";
---

<form action="#" class="card">
  <div class="card__header flex justify-between items-center px-6 pt-6 pb-7">
    <h2>Settings</h2>
    <button
      class="btn-close js-btn-close"
      type="button"
      aria-label="CLOSE DIALOG"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
        ><path
          fill="#1E213F"
          fill-rule="evenodd"
          d="M11.95.636l1.414 1.414L8.414 7l4.95 4.95-1.414 1.414L7 8.414l-4.95 4.95L.636 11.95 5.586 7 .636 2.05 2.05.636 7 5.586l4.95-4.95z"
          opacity=".5"></path></svg
      >
    </button>
  </div>
  <div class="card__content mx-6">
    <fieldset class="card__time pb-6">
      <legend
        class="fs-300 mt-6 w-full text-center tracking-three uppercase sm:text-left"
      >
        Time (minutes)
      </legend>
      <div class="mt-5 flex flex-col gap-2 sm:flex-row sm:gap-5">
        <TimeInput type="pomodoro" value="25" />
        <TimeInput type="short break" value="5" />
        <TimeInput type="long break" value="15" />
      </div>
    </fieldset>
    <fieldset
      class="card__font pb-6 flex flex-col gap-4 sm:flex-row sm:justify-between sm:items-center"
    >
      <legend
        class="fs-300 mt-6 w-full text-center tracking-three uppercase sm:text-left"
      >
        Font
      </legend>
      <div class="flex justify-center items-center gap-4">
        <FontFamilyRadio type="sans" fontClass="font-sans" ischecked={true} />
        <FontFamilyRadio
          type="serif"
          fontClass="font-serif"
          ischecked={false}
        />
        <FontFamilyRadio type="mono" fontClass="font-mono" ischecked={false} />
      </div>
    </fieldset>
    <fieldset
      class="card__theme pb-15 flex flex-col gap-4 sm:flex-row sm:justify-between sm:items-center"
    >
      <legend class="fs-300 pt-6 flex tracking-three uppercase">Color</legend>
      <div class="flex justify-center items-center gap-4">
        <ColorRadio type="coral" colorClass="bg-primary-400" ischecked={true} />
        <ColorRadio type="cyan" colorClass="bg-primary-500" ischecked={false} />
        <ColorRadio
          type="purple"
          colorClass="bg-primary-600"
          ischecked={false}
        />
      </div>
    </fieldset>
  </div>
</form>
<div class="flex justify-center -translate-y-1/2">
  <Button>Apply</Button>
</div>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .card {
    background-color: $dialog-background-default;
    color: $dialog-color-default;

    border-radius: $dialog-border-radius;

    @include mq(medium) {
      border-radius: $dialog-border-radius-large-screens;
    }

    &__header,
    &__time,
    &__font {
      border-bottom: 1px solid #e3e1e1;
    }
  }

  .btn-close path {
    opacity: 0.5;
    transition: opacity 270ms ease-in-out;
  }

  .btn-close:is(:hover, :focus-visible) path {
    opacity: 1;
  }

  .btn-close:focus-visible {
    outline: 2px solid $color-primary-400;
    outline-offset: 3px;
    border-radius: 5px;
  }
</style>
